

html,body,#cotacao,.contra-capa{
	height: 100%;
}

#cotacao{
    background-image: url('https://source.unsplash.com/random?');
    background-size: cover;
    background-position: center;
}

#cotacao .contra-capa{
    background-color: rgba(0,0,0,0.7);
    color: #fff;
}

#cotacao .contra-capa .container{
    padding-top: 35px;
}

.cot-logo{
    text-align: center;
    margin-bottom: 90px;
}

.cot-logo img{
    width: 220px;
    height: 60px;
}

.cot-conteudo{
    display: flex;
    padding: 0 90px;
}

.cot-conteudo .cot-texto{
    margin-right: 200px;
}

.cot-conteudo .cot-texto h1{
    margin-bottom: 35px;
    font-family: 'Mukta',sans-serif;
    color: #fff;
    font-size: 3rem;
    line-height: 1.1em;
    text-align: initial;
}

.cot-conteudo .cot-texto .cot-paragra{
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.4em;
    font-weight: 300;
}

.cot-form{
    width: 380px;
    border-radius: 9px;
    background-color: hsla(0,0%,100%,.06);
    box-shadow: 0 7px 15px -3px rgb(0 0 0 / 20%);
}

.cot-form .cot-form-hea{
    border-radius: 9px 9px 0 0;
    padding: 9px 20px 8px;
    border-bottom: 1px solid hsla(0,0%,89.3%,0);
    background-color: hsla(0,0%,97.3%,.08);
    text-align: center;
}

.cot-form .cot-form-hea h3{
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.15em;
    font-weight: 400;
}

.cot-form-conteud{
    padding: 15px 40px 30px 40px;    
}

.input-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
    padding: 4px 2px 4px 7px;
    border: 1px #dadada;
    border-radius: 4px;
    background-color: #fff;
}

.input-field label{
    color: #252525;
    font-size: .8rem;
    font-weight: 700;
    text-align: left;
    letter-spacing: .2px;
    text-transform: initial;
}

.input-field input{
    height: 30px;
    border: 0 solid #000;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 700;
    outline: none;
}