
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mukta', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 80px;
    padding-left: 35px;
    border-bottom: 1px solid gray;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid gray;
}

a{
    color: black;
    text-decoration: none;
}

.logo a{
    width: 100%;
}

.logo img{
    width: 180px;
    object-fit: cover;
}

header nav{
    width: 850px;
    height: 100%;
}

nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul, nav li{
    list-style: none;
}

nav ul li{
    margin-right: 20px;
    height: 100%;
}

nav ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(33, 62, 208);
    height: 95%;
}


nav ul li:last-child{
    width: 230px;
    height: 100%;
    background-color: rgb(33, 62, 208);
    margin-right: 0;
}

nav li a:hover, .cabecalho nav .active a{
    border-bottom: 2px solid #b28756;
    color: red;
}

nav ul li:last-child a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

nav ul li:last-child a:hover{
    border: none;
    color: #fff;
}

/* SECTIONS */

main .home{
    background-image: url(../img/capa.jpeg);
    background-size: cover;
    background-position: center;
    padding-left: 35px;
    padding-top: 260px;
    height: 100vh;
}

.home h1{
    font-family: 'Mukta',sans-serif;
    font-weight: bold;
    font-size: 60px;
    color:red;
    line-height: 50px;
}

.home a{
    display: block;
    margin-top: 48px;
    width: 280px;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    border: none;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: medium;
    line-height: 72px;
    text-align: center;
}

main .home a:hover {
    background: #e02c33;
}

main .quemSomos{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(247, 247, 247);
}

.quemSomos .tela{
    max-width: 1160px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 100px;
}

.quemSomos .paragrafo{
    padding-top: 80px;
    margin-bottom: 50px;
}

.paragrafo .p{
    color: gray;
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;
}

.paragrafo a{
    display: block;
    margin-top: 48px;
    width: 280px;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    border: none;
    background: #e02c33;
    color: white;
    font-size: medium;
    line-height: 72px;
    text-align: center;
}

.quemSomos .imagem{
    text-align: right;
}

.imagem img{
    width: 90%;
}

main .operacao, main .vantagens{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: rgb(247, 247, 247);
}


.operacao h1, .vantagens h1{
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
}

.operacao p, .vantagens p{
    color: gray;
    font-weight: lighter;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}

.operacao p a{
    color: red;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.operacao p a:hover{
    border-bottom: 1px solid #e02c33;
}

.operacao .operacoes, .vantagens .operacoes{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.operacoes .op{
    flex: 1;
}

.op .op-item{
    border-radius: 15px;
    padding: 30px 20px;
    margin-bottom: 10px;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.borda{
    border: 1px solid gray;
}

.active{
    background-color: white;
    border: none;
}

.op-item .op-m{
    margin-right: 15px;
}

.op-item .op-m img{
    width: 80px;
    height: 80px;
}

.op-item .p{
    font-size: 16px;
    line-height: normal;
    color: #444;
    text-align: left;
    font-weight: 400;
}

.operacoes .op-image{
    width: 600px;
    padding: 70px;
}

.op-image .img-redonda{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.op-image .img-redonda img{
    width: 60%;
}

main .vantagens{
    background-color: white;
}

.vantagens .operacoes{
    flex-direction: column;
}

.vantagens .operacoes .card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.operacoes .card .cards{
    width: 450px;
    height: 300px;
    margin-right: 20px;
    background-color: rgb(247, 247, 247);
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards p{
    margin-top: 10px;
    font-size: 20px;
}

.cards img{
    width: 100px;
    height: 100px;
}

.operacoes .rodape{
    width: 100%;
    height: 70vh;
    background-image: url(../img/final-background.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 160px;
}

.rodape .capa{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}

.rodape #sem-spc{
    line-height: 1.1em;
    font-weight: 700;
    font-size: 2.9rem;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.rodape a{
    display: block;
    width: 280px;
    height: 65px;
    border-radius: 8px;
    border: none;
    background: white;
    color: black;
    font-size: 20px;
    line-height: 65px;
    text-align: center;
    font-weight: 700;
}

/* footer */

footer{
    background-color: #e02c33;
    padding: 90px 0 30px 0;
}

footer .f-container{
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 750px 1fr;
    color: #fff;
}

footer .f-container img{
    width: 26px;
    height: 22px;
}

footer .f-container .cont-area1{
    padding-bottom: 35px;
    border-bottom: 1px solid hsla(0,0%,90.2%,.2);
    margin-bottom: 30px;
}

footer .f-container .cont-area1 .img{
    margin-bottom: 30px;
}

footer .f-container .cont-area1 .para{
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: normal;
}

footer .f-container .cont-area1 .img img{
    width: 215px;
    height: 60px;
}

footer .f-container .cont-area2{
    display: flex;
}

footer .f-container .cont-area2 h3{
    margin-bottom: 40px;
}

footer .f-container .cont-area2 .area-navega{
    margin-right: 170px;
}

footer .f-container .cont-area2 .area-navega a{
    display: block;
    margin-bottom: 30px;
    color: #fff;
}

footer .f-container .cont-area2 .atend-area{
    display: flex;
}

footer .f-container .cont-area2 .atend-area p{
    margin-bottom: 12px;
}

footer .f-container .cont-area2 .atend-area .dias{
    margin-right: 55px;
}

footer .f-container .cont-area3{
    margin-left: 40px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

footer .f-container .cont-area3 .cot{
    margin-bottom: 45px;
    margin-left: 110px;
}

footer .f-container .cont-area3 .cot span{
    margin-left: 35px;
    margin-right: 10px;
}

footer .f-container .cont-area3 .cot img{
    width: 20px;
    height: 20px;
}

footer .f-container .cont-area3 .cot a{
    display: inline-block;
    width: 220px;
    background-color: #fff;
    padding: 15px 0;
    border-radius: 6px;
}

footer .f-container .cont-area3 .cot a:hover{
    box-shadow: 0px 5px 10px #333;
}

footer .f-container .cont-area3 .informa{
    width: 330px;
    background-color: #fff;
    border-radius: 6px;
    padding-top: 45px;
}

footer .f-container .cont-area3 .informa h3{
    color: #e02c33;
    margin-left: 40px;
    margin-bottom: 45px;
}

footer .f-container .cont-area3 .informa .info{
    margin-left: 40px;
    color: #777;
    margin-bottom: 55px;
}

footer .f-container .cont-area3 .informa img{
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

footer .f-container .cont-area3 .informa .info a{
    display: block;
    color: #777;
    margin-bottom: 22px;
}

footer .f-container .cont-area3 .informa .btn-contato{
    display: block;
    color: #777;
    padding: 25px;
    text-align: center;
    border-top: 1px solid #e7dfdf;
}