
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 80px;
    padding-left: 35px;
    border-bottom: 1px solid gray;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid gray;
}

a{
    color: black;
    text-decoration: none;
}

.logo a{
    width: 100%;
}

.logo img{
    width: 180px;
    object-fit: cover;
}

header nav{
    width: 850px;
    height: 100%;
}

nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul, nav li{
    list-style: none;
}

nav ul li{
    margin-right: 20px;
    height: 100%;
}

nav ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(33, 62, 208);
    height: 95%;
}


nav ul li:last-child{
    width: 230px;
    height: 100%;
    background-color: rgb(33, 62, 208);
    margin-right: 0;
}

nav li a:hover, .cabecalho nav .active a{
    border-bottom: 2px solid #b28756;
    color: red;
}

nav ul li:last-child a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

nav ul li:last-child a:hover{
    border: none;
    color: #fff;
}

/* main */
main{
    height: 100vh;
}

/* SECTIONS */

main .home{
    background-image: url(../img/capa.jpeg);
    background-size: cover;
    background-position: center;
    padding-left: 35px;
    padding-top: 300px;
    height: 100%;
}

.home h1{
    font-size: 3vw;
    color:red;
}

.home a{
    display: block;
    margin-top: 48px;
    width: 280px;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    border: none;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: medium;
    line-height: 72px;
    text-align: center;
}

main .home a:hover {
    background: #e02c33;
}

main .quemSomos{
    height: 80%;
    display: flex;
    padding-left: 100px;
    padding-top: 160px;
    background-color: rgb(247, 247, 247);
}

.quemSomos .paragrafo{
    width: 530px;
    height: 200px;
    padding-top: 80px;
    margin-right: 120px;
    margin-bottom: 50px;
}

.paragrafo p{
    color: gray;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
}

.paragrafo a{
    display: block;
    margin-top: 48px;
    width: 280px;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    border: none;
    background: #e02c33;
    color: white;
    font-size: medium;
    line-height: 72px;
    text-align: center;
}

.quemSomos .imagem{
    width: 700px;
    height: 160px;
}

.imagem img{
    width: 100%;
}
