
#cabecalho{
    position: fixed;
}

.container{
    max-width: 1160px;
    padding-top: 280px;
    margin: 0 auto;
}

.container h1{
    border: 1px solid red;
    color: #0b1323;
    line-height: 1.1em;
    font-weight: 700;
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 150px;
}

.container .papel-de-parede{
    width: 100%;
    height: 600px;
    background-image: url('../img/capa2.jpeg');
    background-size: cover;
    background-position: left;
    margin-bottom: 120px;
}

.container .history img{
    width: 1160px;
}

.sec-cinza{
    background-color: rgb(248, 248, 248);
}

.sec-cinza .container{
    padding-top: 150px;
}

.container .cont-empr{
    width: 640px;
    border: 1px solid red;
    margin: 0 auto;
}

.cont-empr h3{
    font-size: 2.2rem;
    font-weight: 700;
    font-family: 'Mukta',sans-serif;
    margin-bottom: 10px;
}

.cont-empr .texto{
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 1.6em;
    color: #777;
}

