
#cabecalho{
    position: fixed;
}

.container{
    max-width: 1160px;
    padding-top: 280px;
    margin: 0 auto;
}

.container h1{
    color: #0b1323;
    line-height: 1.1em;
    font-weight: 700;
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 150px;
}

.container .papel-de-parede{
    width: 100%;
    height: 600px;
    background-image: url('../img/capa2.jpeg');
    background-size: cover;
    background-position: left;
    margin-bottom: 120px;
}

.container .history img{
    width: 1160px;
}

.sec-cinza{
    background-color: rgb(248, 248, 248);
}

.sec-cinza .container{
    padding-top: 120px;
    padding-bottom: 50px;
}

.container .cont-empr{
    width: 640px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.cont-empr h3{
    font-size: 2.2rem;
    font-weight: 700;
    font-family: 'Mukta',sans-serif;
    margin-bottom: 10px;
}

.cont-empr .texto{
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 1.6em;
    color: #777;
}

.cont-empr .traco{
    width: 105px;
    height: 5px;
    background-color: rgb(224, 44, 51);
}

.cont-empr .itens{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}


.cont-empr .itens .ponto{
    width: 8px;
    height: 8px;
    background-color: rgb(112, 112, 112);
    margin-left: 20px;
    margin-right: 12px;
}

.cont-empr .itens .texto{
    margin: 0;
}