
#servicos .container h1{
    margin-bottom: 22px;
}

#servicos .container .cont-para{
    font-size: 25px;
    line-height: 1.1em;
    color: #777;
    text-align: center;
    margin: 0 auto;
    font-weight: normal;
    margin-bottom: 140px;
}

h2{
    color: #0b1323;
    font-size: 2.6rem;
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 145px;
}

.sec-cinza .container h3{
    font-family: 'Mukta', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 45px;
}

.sec-cinza .container .cont-para{
    font-family: Mukta,sans-serif;
    color: #777;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 90px;
}

.cont-rod{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 110px;
}

.cont-rod .rod-para{
    font-family: 'Mukta',sans-serif;
    color: #0b1323;
    font-size: 2rem;
    line-height: 1.3em;
    font-weight: 300;
}

.cont-rod a{
    display: block;
    width: 280px;
    height: 65px;
    border-radius: 8px;
    border: none;
    background: #e02c33;
    color: #fff;
    font-size: 17px;
    line-height: 65px;
    text-align: center;
    transition: box-shadow .2s;
    font-weight: 500;
}

.cont-rod a:hover{
    box-shadow: 0px 5px 10px #333;
}

#n-frota{
    background-image: url('../img/veiculos.jpeg');
    background-attachment: fixed;
}

#n-frota .fundo{
    background-color: rgba(0,0,0,0.7);
    color: #fff;
}

#n-frota .container{
    padding-top: 180px;
    padding-bottom: 170px;
}

#n-frota h3{
    font-family: 'Mukta', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 45px;
    color: #fff;
}

#n-frota .fundo .cont-para{
    font-size: 21px;
}

.img-cliente{
    margin-bottom: 50px;
}

.img-cliente img{
    width: 1150px;
}

.sec-cinza .container h2{
    text-align: center;
    margin-bottom: 80px;
}

.sec-cinza .container .btn-cotacao{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.sec-cinza .container .btn-cotacao a{
    display: block;
    width: 220px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background: #fff;
    color: black;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0 6px 12px 0 rgb(0 0 0 / 8%);
    transition: box-shadow .2s;
    font-weight: 700;
}

.sec-cinza .container .btn-cotacao a:hover{
    box-shadow: 0px 5px 10px #333;
}